<% if user_signed_in? %>
	<div id="hook_line">
	Tired of your boss and want to tell him off?</br>
	Secret crush can't remain a secret any longer?</br>
	Passive aggression getting the best of you?</br>
	</div>
	<div id="register_box">
	</div>
<% else %>
<% end %>

