body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.clear{
  zoom: 1;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #edebec url('header.png') repeat-x;
  z-index: 0;
}

#header{
  height: 90px; padding: 6px 0px 0px 25px;
}

#user_nav{
  position: absolute;
  margin: 10px 0 0 0;
  right: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#hook_line{
  font-family: Arial, Helvetica, sans-serif;
  color: #5c5c5c;
  font-size: 15px;
  margin-left: 15px;
}

#register_box{
  height: 400px;
  width: 320px;
  float: right;
  margin-right: 40px;
  margin-top: 50px;
  background: #b1b1b1;
  padding: 25px 0px 0px 25px;
  border-radius: 30px 30px 30px 30px;
}

ol{
  padding: 0 0 0 5px;
}

#site_nav{
  position: absolute;
  margin: 45px 0 20px 0;
  right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  a:link{color: #fff; text-decoration: none};
  a:visited{color: #fff; text-decoration: none};
}

#header_envelope{
  display: block; width: 72px; height: 45px; margin: 0 0 100px 0;
  background: url('envelope.png') no-repeat;
}

#header h1{
  display: block; width: 325px; height: 70px; float: left; margin: 0 0 0 25px;
  background: url('logo.png') no-repeat;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:22px;
   width:100%;
   background:#999;
   background:#6cf url('footer.png') repeat-x;
}

.myform{
margin:0 auto;
margin-right: 25px;
width:375px;
padding:14px;
float:right;
border-radius: 15px 15px 15px 15px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #67193f;
background:#d8bfc2;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #67193f;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}