<!DOCTYPE html PUBLIC "-..W3C//DTD XHTMl 1.0 Strict/EN" "http://w3.org/TR/xhtml/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset-UTF-8"/>
		<link href="css/styles.css" rel="stylesheet" type="text/css" media="">
	</head>
	
	<body>
		<div id="container">
			<div id="header" class="clear">
				<h1><a href="#"> Blind Forward</h1>
				<ul id = "nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Messages</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>
			<div id="feature-header" class="clear">
				<div id="feature-text">
					<h2>Where mail goes to disapper. We keep your hands clean so you don't have to. <strong>Try Us Out.<Strong></h2>
				</div>
				<div id="feature-image">
					
				</div>
			</div>
		</div>>
